// ----------------------------------------------
// ARROW BUTTON
// ----------------------------------------------

// Button with text and arrow style

.c-arrow-button {
  display: flex;
  align-items: center;
}

.c-button__text {
  margin-right: 37px;

  &--align-right {
    margin-right: 0px;
    margin-left: 37px;
  }
}

.c-button--white {
  .c-button__text {
    margin-right: 32px;
    font-size: 15px;
  }
}

.c-arrow-button__inner {
  position: relative;
  display: flex;
  align-items: center;
	transition: all 0.2s;
  margin: 0 auto;
}

.c-arrow-button__line {
	background-color: palette(mono, white);
	display: block;
	height: 2px;
	transition: all 0.2s;
	transition-delay: 0s;
	will-change: transform;
	width: 20px;
	position: absolute;

	&--left-arrow {
		left: 0;
	}

	&--right-arrow {
		right: 0;
	}

	&:before,
	&:after {
		background-color: palette(mono, white);
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		top: 0;
		transition: all 0.2s;
		transition-delay: 0s;
		width: 8px;
	}
}


.c-arrow-button__line {

	&--left-arrow {

		&:before,
		&:after {
			left: 0;

		}

		&:before {
			transform-origin: top left;
			transform: rotate(40deg);
		}

		&:after {
			transform-origin: bottom left;
			transform: rotate(-40deg);
		}
	}

	&--right-arrow {

		&:before,
		&:after {
			right: 0;

		}

		&:before {
			transform-origin: top right;
			transform: rotate(-40deg);
		}

		&:after {
			transform-origin: bottom right;
			transform: rotate(40deg);
		}
	}
}

.c-button {
	&:hover{
		.c-arrow-button__line {

			&--right-arrow {
				right: -10px;
				transition: all 0.2s;
			}

			&--left-arrow {
				left: -10px;
				transition: all 0.2s;
			}
		}
	}
}


// Button with not text only arrow style
.c-button__only-arrow {
  width: 50px;
  height: 50px;
  padding: 14px;
  margin: 0;
  // background: palette(mono, white);
  background: transparent;
  border: 1px solid #000000;

  &:first-child {
    margin-right: 5px;
  }

  .c-arrow-button__line{
    background-color: palette(mono, black);

    &:before,
    &:after {
      background-color: palette(mono, black);
    }
  }
}

// Small Button with only arrow style
.c-button__small-arrow {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 2px solid;
  border-radius: 50%;
  border-color: #8cd6e0;
}


.c-button {

  &--white {

    &:hover {
      color: palette(green, base);
    }

    .c-arrow-button__line {
      background-color: palette(green, base);

      &:before,
      &:after {
    		background-color: palette(green, base);
      }
    }
  }
}
