// ----------------------------------------------
// Font-Face Generator Style
// ----------------------------------------------


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Indie+Flower&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

$font-path:                 'assets/font/';

$primary-font:              'Comfortaa', cursive;
$secondary-font:            'Playfair Display', serif;
$title-font:                'Indie Flower', cursive;
