// ----------------------------------------------
// Variables
// ----------------------------------------------


// Default
$default-font:               $primary-font;
$default-size:               17px;
$default-linehieght:         30px;
$default-weight:             normal;
$default-color:              palette(mono, black);




// button style
$btn-font-size:              16px;
$btn-color:                  palette(mono, white);
$btn-padding:                16px 24px;
$btn-margin:                 0;
$btn-text-align:             center;
$btn-text-transform:         capitalize;
